.detail_loading {
  text-align: center;
  font-size: 40px;
}

.detail_wrapper {
  margin: 100px;
}

.detail_img {
  border-radius: 10px;
}

.detail_description {
  border: 1px solid gray;
  border-radius: 10px;
  padding: 5px 20px;
}

.deatil_genres {
  list-style-type: none;
  display: flex;
  align-items: center;
}
